<ion-view>
    <ion-content>
        <div style="margin-bottom: 40px"></div>
        <h2 class="text-center">Reset Password</h2>
        <p class="text-center">
            To reset password enter username.
        </p>
        <form name="resetPassword" class="padding" ng-submit="submit(resetPassword)">
            <div class="list padding-left padding-right">
                <label class="item item-input">
                    <input type="text" name="username" minlength="4" maxlength="20" required placeholder="Enter Username" ng-model="user.username">
                </label>
                <p class="error" ng-if="!resetPassword.username.$error.minlength&&!resetPassword.username.$error.maxlength&&resetPassword.username.$invalid&&resetPassword.username.$dirty">Username is required.</p>
                <p class="error" ng-if="resetPassword.username.$error.minlength&&resetPassword.username.$dirty">Username is too short.</p>
                <p class="error" ng-if="resetPassword.username.$error.maxlength&&resetPassword.username.$dirty">Username is too long.</p>
            </div>
            <div class="list padding-left padding-right">
                <div class="error" ng-if="errorMsg" ng-bind="errorMsg"></div>
                <button type="submit" class="button button-positive button-block">Reset</button>
            </div>
        </form>
    </ion-content>
</ion-view>